.custom-card {
    border-radius: 8px;
    gap: 1em;
  }
  
mat-card-header {
background-color: #3700B3;
color: white;
}

.container {
display: flex;
flex-direction: column;
margin: 40px auto;
max-width: 400px;
}

button {
margin-top: 1em;
}